<h1>View Comments:</h1>
<hr>
<%# how to insert pattern_name into title %>

<% @comments.each do |comment| %>
    <p><strong><%= comment.user.username.capitalize %> says: </strong><%= comment.content %> about <%= link_to comment.pattern.pattern_name, pattern_path(comment.pattern) %></p>
<% end %>